@import url("webfonts/Segoe_Print/stylesheet.css");
/* CSS Document */

body{
	font-style: normal;
	font-weight: 400;
	font-family: "Segoe Print";
	color: aliceblue;
}

header div{
	background-image: url(/img/zerkalo_logo_fon.png);
}

nav,
article div.container{
	background-color: rgba(0,0,0,0.80);
}

footer div.container{
	background-color: rgba(0,0,0,1.00);
}

a,
a:visited{
	color:yellow;
	text-decoration: underline;
}

a:hover,
link:hover{
	color: aliceblue;
}

input[type="text"]{
	width: 100%;
}